nextflow.enable.dsl=2

conda {enabled=true
    useMamba = true
    cacheDir = "$baseDir/conda_cache"
}

process {

    withName: 'RUN_BUSCO' {
        cpus = { params.cpus }
    }

    withName: 'RUN_BUSCO_IDENTIFY' {
        cpus = { params.cpus }
    }

    withName: 'CREATE_ORTHOFINDER_DB' {
        cpus = { params.orthofinder_threads }
    }

    withName: 'RUN_ASSIGN_CORE' {
        cpus = { params.orthofinder_threads }
    }

}

report {
    enabled = true
    file = "${params.outdir}/execution_report.html"
    overwrite=true
}

timeline {
    enabled = true
    file = "${params.outdir}/execution_timeline.html"
    overwrite=true
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace.txt"
    fields = 'task_id,process,name,status,realtime,%cpu,rss,peak_rss,peak_vmem,rchar,wchar'
    overwrite=true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.html"
    overwrite=true
}
